.global-home
{
    width: 100%;
    background: #101010;
    transition: opacity .5s ease-out;

    &.fade-enter,
    &.fade-leave-to
    {
        opacity: 0;
    }

    .home-parallax
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        background: #456f8f;
        overflow: hidden;

        .home-main-title
        {
            z-index: 999;
            width: 100%;
            text-align: center;
            font-size: 4rem;
            line-height: 4.5rem;
            font-weight: 600;
            white-space: pre-wrap;

            @media screen and (max-width: 960px){
                width: 80%;
            }
        }

        .image
        {
            width: 110%;
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            will-change: transform;
            
            .inner
            {
                width: 100%;
                transition: transform 0.9s ease-out;
            }

            &.sky .inner
            {
                opacity: 0;
            }
        }

        svg
        {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}