.data-container
{
    width: 100%;
    
    .data-visualization
    {
        width: 100%;
        
        .visualizer
        {
            width: 100%;
        }
    
        transform: translateY(50px);
        opacity: 0;
        transition: transform 1s cubic-bezier(.54,.1,0,.99), opacity 1s cubic-bezier(.54,.1,0,.99);
    
        &.on-view
        {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
